@import "../App/Colours";

.detail {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  border: 1px #aaa solid;
  overflow: hidden;
  opacity: 0;
  background-color: @buttonBackground;
}
.detail.closed {
  opacity: 0;
  transition: opacity 1.5s, height 1s;
}
.detail.open {
  opacity: 1;
  transition: opacity 1s, height 1s;
}

/* DETAIL ELEMENT OVERVIEW */
.detailElement {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  grid-column-start: 1;
  grid-row-start: 1;
  transform: translateX(-100%);
}
.detailElement.visible {
  transform: translateX(0);
}
.detailElement.entering {
  transform: translateX(0);
  animation: slideIn 1s;
}
.detailElement.leaving {
  transform: translateX(100%);
  animation: slideOut 1s;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
