/* BUTTONS */
.buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding: 0;
  margin: 0;
}

.button {
  font: 1em "Roboto Mono", monospace;
  display: inline-block;
  background-color: #232323;
  color: #fff;
  border: 1px #aaa solid;
  font-size: 1.4em;
  width: 250px;
  padding: 1em;
  margin: 10px 0;
  cursor: pointer;
}
.button:hover {
  background-color: mediumseagreen;
}

/* DETAIL ELEMENT */
.detailElement {
  padding: 2em;
  color: #909090;
  text-align: center;
}

/* DETAIL ELEMENT SPECIFICS */
h3 {
  display: flex;
  justify-content: center;
  font-size: 1.4em;
  margin-bottom: 0;
  color: #fff;
}

.title {
  margin-top: 0;
}

.date {
  display: flex;
  font-size: 0.8em;
  justify-content: center;
}

.thumb {
  display: flex;
  justify-content: center;
  padding: 1em;
}

.description {
  display: flex;
  justify-content: center;
  text-align: center;
}

.technologies,
.links {
  display: flex;
  justify-content: center;
}

.linkSeperator {
  white-space: pre;
}
