body {
  background-color: #191919;
  color: #fff;
  margin: 0;
  font: 1em 'Roboto Mono', monospace;
}

a, a:visited, a:active {
  color: #fff;
  text-decoration: none;
  transition: color 0.4s;
}

a:hover {
  color: #f00;
  text-decoration: none;
  transition: color 0.4s;
}

.container {
  display: flex;
  flex-flow: row nowrap;
}
