@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

/* MAIN LAYOUT CSS STYLING */
body {
  background-color: #191919;
  color: #fff;
  margin: 0;
  font: 1em "Roboto Mono", monospace;
  overflow: hidden;
}

a,
a:visited,
a:active {
  color: #fff;
  text-decoration: none;
  transition: color 0.4s;
}

a:hover {
  color: #f00;
  text-decoration: none;
  transition: color 0.4s;
}

h1 {
  font: 2.4em "Roboto";
  margin: 0;
}

h1 a:hover {
  color: #fff;
}

h2 {
  font: 2em "Roboto";
  padding-top: 0.2em;
  text-transform: lowercase;
  margin: 0px 0 26px;
}

* {
  outline: none;
}

.prompt {
  color: #f66;
  padding-right: 0.5em;
}

/* MAIN POSITIONING CONTAINERS */
.container {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
}

.main,
.sidebar {
  box-sizing: border-box;
  padding: 1em;
}

.main {
  display: flex;
  flex-flow: column nowrap;
  flex: 1;
  background-color: #232323;
}

@media (min-width: 800px) {
  .container {
    flex-flow: row nowrap;
  }

  .sidebar {
    height: 100vh;
  }

  .main,
  .sidebar {
    padding-top: 1.6em;
  }
}

.grecaptcha-badge {
  visibility: hidden;
}

/* TECHNOLOGY CSS */
.detailContainer {
  display: flex;
  flex-flow: row wrap;
}

.project {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  border: 1px #aaa solid;
  width: 100%;
  height: 250px;
  cursor: pointer;
  margin: 10px;
  padding: 3em;
  overflow: hidden;
  box-sizing: border-box;
  transition: width 1s;
}

.project.project-open {
  width: 100%;
  min-height: 250px;
  transition: width 1s;
}

.projectCover {
  visibility: hidden;
  flex: 1;
  width: 100%;
}

/* TECHNOLOGY CONTENT CSS */
.projectContent {
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
  transform: translateX(0px);
  transition: transform 1s ease-in-out;
}
.project-open .projectContent {
  transform: translateX(0);
  transition: transform 1s ease-in-out;
}

.projectCover {
  position: absolute;
  top: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 1.4em;
  opacity: 1;
  transition: opacity 0.5s ease-out 0.5s;
}
.project-open .projectCover {
  opacity: 0;
  transition: opacity 0.6s ease-out;
}

.projectTitle {
  display: flex;
  font-size: 1.4em;
  justify-content: center;
}

.projectDescription {
  display: flex;
  justify-content: center;
  color: #909090;
  text-align: center;
}

.projectItems {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.projectItem {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
}

.projectItem img {
  margin-bottom: 8px;
}
