@import "../App/Constants";

.profilePicture {
  float: right;
  -webkit-mask-image: linear-gradient(to left, transparent 0%, black 100%);
  mask-image: linear-gradient(to left, transparent 0%, black 100%);
  padding: 0 0 1em 1em;
}
