form {
  display: flex;
  flex-flow: column nowrap;
}

.formElement {
  padding: 10px 0;
  display: flex;
}

label {
  display: flex;
  width: 100%;
}

.labelText {
  padding-top: 10px;
}

.contactForm {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
}

.contactForm form {
  flex: 1;
}

input[type="submit"] {
  font: 1em "Roboto Mono", monospace;
  padding: 10px;
}

input[type="text"],
input[type="email"],
textarea {
  background-color: #232323;
  border: 1px #757575 solid;
  color: #fff;
  padding: 10px;
  resize: none;
  font: 1em "Roboto Mono", monospace;
  flex: 1;
  outline: none;
  caret-color: #757575;
}

textarea {
  height: 8em;
}

footer {
  text-align: center;
  color: #757575;
  font-size: 0.8em;
}
