nav {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  justify-content: flex-end;
}

ul {
  display: flex;
  flex-flow: row nowrap;
  list-style-type: none;
  padding: 10px 50px;
  margin: 0;
}

li {
  padding-left: 20px;
}