@import "../App/Constants";

@minHeight: 250px;

/* BUTTONS */
.buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding: 0;
  margin: 0;
}

.button {
  font: 1em "Roboto Mono", monospace;
  display: inline-block;
  background-color: #232323;
  color: #fff;
  border: 1px @greyColour solid;
  font-size: 1.4em;
  width: 250px;
  padding: 1em;
  margin: 10px 0;
  cursor: pointer;

  &:hover {
    background-color: @greenColour;
  }
}

/* DETAIL ELEMENT SPECIFICS */
.title {
  display: flex;
  font-size: 1.4em;
  justify-content: center;
}

.description {
  display: flex;
  justify-content: center;
  color: @greyColour;
  text-align: center;
}

.items {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.item {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;

  img {
    margin-bottom: 8px;
  }
}

.detailClosed {
  height: 0;
  animation: slideClosed 1s;
}
.detailOpen {
  min-height: @minHeight;
  animation: slideOpen 1s;
}

@keyframes slideOpen {
  from {
    min-height: 0;
  }
  to {
    min-height: @minHeight;
  }
}

@keyframes slideClosed {
  from {
    min-height: @minHeight;
  }
  to {
    min-height: 0;
  }
}
