.technologyButtons {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding: 0;
  margin: 0;
}

.technologyButton {
  display: inline-block;
  background-color: #232323;
  color: #fff;
  border: 1px #aaa solid;
  font-size: 1.4em;
  width: 250px;
  padding: 1em;
  margin: 10px 0;
  cursor: pointer;
}

.technologyButton:hover {
  background-color: mediumseagreen;
}

.technologyDetail {
  position: relative;
  display: flex;
  border: 1px #aaa solid;
  width: 100%;
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: opacity 1.5s;
  animation: slideClosed 1s;
}

.technologyDetail.technologyDetailOpen {
  min-height: 250px;
  animation: slideOpen 1s;
  opacity: 1;
  transition: opacity 1s;
}

@keyframes slideOpen {
  from {
    min-height: 0;
  }
  to {
    min-height: 250px;
  }
}

@keyframes slideClosed {
  from {
    min-height: 250px;
  }
  to {
    min-height: 0;
  }
}

.technologyDetailElement {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  transform: translateX(-100%);
}

.technologyDetailElement.visible {
  transform: translateX(0);
}

.technologyDetailElement.entering {
  transform: translateX(0);
  transition: transform 1s;
}

.technologyDetailElement.leaving {
  transform: translateX(100%);
  transition: transform 1s;
}

.technologyTitle {
  display: flex;
  font-size: 1.4em;
  justify-content: center;
}

.technologyDescription {
  display: flex;
  justify-content: center;
  color: #909090;
  text-align: center;
}

.technologyItems {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.technologyItem {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
}

.technologyItem img {
  margin-bottom: 8px;
}
