nav {
  display: flex;
  flex-flow: column nowrap;
  margin: 0;
}

.keyword {
  color: #55f;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  margin: 1em 0.3em;
}

.arrow {
  fill: #a0a0a0;
}

svg {
  margin-right: 0.4em;
  transition: transform 0.15s linear;
}

svg.menuFolded {
  transform: rotate(-90deg);
  transition: transform 0.15s linear;
}

.navList {
  overflow: hidden;
  padding-left: 1em;
  display: block;
  max-height: 300px;
  transition: max-height 0.5s ease-out;
}

.navListFolded {
  max-height: 0;
  display: none;
  transition: max-height 0.5s ease-out;
}

.currentPage {
  color: #f00;
}
